<div class="row">
  <div>
      <div class="panel panel-default">
          <div class="panel-heading clearfix">
              <p class="h2">{{contact.name}}</p>
              <span class="pull-left">
                  <img src="{{contact.imageUrl}}" alt="{{contact.name}}" class="img-responsive" style="max-height: 50px;">
              </span>
              <span class="pull-right">
                  <a href="#" class="btn btn-primary">Edit</a>
                  <a href="#" class="btn btn-danger">Delete</a>
              </span>
          </div>
          <div class="panel-body">
            <h4 class="list-group-item-heading "><strong>Email: </strong>{{contact.email}}</h4>
            <h4 class="list-group-item-heading "><strong>Phone: </strong>{{contact.phone}}</h4>
          </div>
      </div>
  </div>
</div>
